.hero {
    color: #fff;
    min-height: 590px;
    text-align: center;
    padding: 174px 0px;
    background: #ccc url(../images/hero-bg.jpg) center/cover no-repeat;

    &__text {
        font-size: 3rem;
        line-height: 1;
    }

    &__title {
        margin-bottom: 27px;

    }
}

